/*
 	Nodes Documentation Kit - External Links
	Author: Dennis Haulund Nielsen

	A styled unordered list containing anchors with icons(optional)
*/
$link-spacing: 20px;
$icon-size: 32px;

.external-links {
	display: flex;
	justify-content: center;

	margin: $global-spacing-small 0;
	padding: 0;
	list-style: none;

	li {
		display: flex;
		align-items: center;
		flex: 0 0 auto;
		margin: 0 $link-spacing;
	}

	a {
		display: block;
		line-height: 1;
		text-decoration: none;
	}

	[class^="icon-"] {
		font-size: $icon-size;
	}
}
